@charset "UTF-8";

/* $themeColors: #409eff, #1cf209, #7e09f2, #314358, #f2e609, #f209e7, #f28909,
#ffffff, #dddddd, #aaaaaa, #888888, #666666, #444444, #000000, #ffb7dd,
#ff88c2, #ff44aa, #ff0088, #c10066, #a20055, #8c0044, #ffcccc, #ff8888, #ff3333,
#ff0000, #cc0000, #aa0000, #880000, #ffc8b4, #ffa488, #ff7744, #ff5511, #e63f00,
#c63300, #a42d00, #ffddaa, #ffbb66, #ffaa33, #ff8800, #ee7700, #cc6600,
#bb5500, #ffee99, #ffdd55, #ffcc22, #ffbb00, #ddaa00, #aa7700, #886600, #ffffbb,
#ffff77, #ffff33, #ffff00, #eeee00, #bbbb00, #888800, #eeffbb, #ddff77, #ccff33,
#bbff00, #99dd00, #88aa00, #668800, #ccff99, #bbff66, #99ff33, #77ff00, #66dd00,
#55aa00, #227700, #99ff99, #66ff66, #33ff33, #00ff00, #00dd00, #00aa00,
#008800, #bbffee, #77ffcc, #33ffaa, #00ff99, #00dd77, #00aa55, #008844, #aaffee,
#77ffee, #33ffdd, #00ffcc, #00ddaa, #00aa88, #008866, #99ffff, #66ffff, #33ffff,
#00ffff, #00dddd, #00aaaa, #008888, #cceeff, #77ddff, #33ccff, #00bbff, #009fcc,
#0088a8, #007799, #ccddff, #99bbff, #5599ff, #0066ff, #0044bb, #003c9d,
#003377, #ccccff, #9999ff, #5555ff, #0000ff, #0000cc, #0000aa, #000088, #ccbbff,
#9f88ff, #7744ff, #5500ff, #4400cc, #2200aa, #220088, #d1bbff, #b088ff, #9955ff,
#7700ff, #5500dd, #4400b3, #3a0088, #e8ccff, #d28eff, #b94fff, #9900ff, #7700bb,
#66009d, #550088, #f0bbff, #e38eff, #e93eff, #cc00ff, #a500cc, #7a0099,
#660077, #ffb3ff, #ff77ff, #ff3eff, #ff00ff, #cc00cc, #990099, #770077;

  $themeValues:'409eff', '1cf209', '7e09f2', '314358', 'f2e609', 'f209e7', 'f28909',
  'ffffff','dddddd','aaaaaa','888888','666666','444444','000000','ffb7dd',
  'ff88c2','ff44aa','ff0088','c10066','a20055','8c0044','ffcccc','ff8888','ff3333',
  'ff0000','cc0000','aa0000','880000','ffc8b4','ffa488','ff7744','ff5511','e63f00',
  'c63300','a42d00','ffddaa','ffbb66','ffaa33','ff8800','ee7700','cc6600',
  'bb5500','ffee99','ffdd55','ffcc22','ffbb00','ddaa00','aa7700','886600','ffffbb',
  'ffff77','ffff33','ffff00','eeee00','bbbb00','888800','eeffbb','ddff77','ccff33',
  'bbff00','99dd00','88aa00','668800','ccff99','bbff66','99ff33','77ff00','66dd00',
  '55aa00','227700','99ff99','66ff66','33ff33','00ff00','00dd00','00aa00',
  '008800','bbffee','77ffcc','33ffaa','00ff99','00dd77','00aa55','008844','aaffee',
  '77ffee','33ffdd','00ffcc','00ddaa','00aa88','008866','99ffff','66ffff','33ffff',
  '00ffff','00dddd','00aaaa','008888','cceeff','77ddff','33ccff','00bbff','009fcc',
  '0088a8','007799','ccddff','99bbff','5599ff','0066ff','0044bb','003c9d',
  '003377','ccccff','9999ff','5555ff','0000ff','0000cc','0000aa','000088','ccbbff',
  '9f88ff','7744ff','5500ff','4400cc','2200aa','220088','d1bbff','b088ff','9955ff',
  '7700ff','5500dd','4400b3','3a0088','e8ccff','d28eff','b94fff','9900ff','7700bb',
  '66009d','550088','f0bbff','e38eff','e93eff','cc00ff','a500cc','7a0099',
  '660077','ffb3ff','ff77ff','ff3eff','ff00ff','cc00cc','990099','770077';

  $bgColors:#fff, #1cf209, #7e09f2, #314358, #f2e609, #f209e7, #f28909,
  #ffffff, #dddddd, #aaaaaa, #888888, #666666, #444444, #000000, #ffb7dd,
  #ff88c2, #ff44aa, #ff0088, #c10066, #a20055, #8c0044, #ffcccc, #ff8888, #ff3333,
  #ff0000, #cc0000, #aa0000, #880000, #ffc8b4, #ffa488, #ff7744, #ff5511, #e63f00,
  #c63300, #a42d00, #ffddaa, #ffbb66, #ffaa33, #ff8800, #ee7700, #cc6600,
  #bb5500, #ffee99, #ffdd55, #ffcc22, #ffbb00, #ddaa00, #aa7700, #886600, #ffffbb,
  #ffff77, #ffff33, #ffff00, #eeee00, #bbbb00, #888800, #eeffbb, #ddff77, #ccff33,
  #bbff00, #99dd00, #88aa00, #668800, #ccff99, #bbff66, #99ff33, #77ff00, #66dd00,
  #55aa00, #227700, #99ff99, #66ff66, #33ff33, #00ff00, #00dd00, #00aa00,
  #008800, #bbffee, #77ffcc, #33ffaa, #00ff99, #00dd77, #00aa55, #008844, #aaffee,
  #77ffee, #33ffdd, #00ffcc, #00ddaa, #00aa88, #008866, #99ffff, #66ffff, #33ffff,
  #00ffff, #00dddd, #00aaaa, #008888, #cceeff, #77ddff, #33ccff, #00bbff, #009fcc,
  #0088a8, #007799, #ccddff, #99bbff, #5599ff, #0066ff, #0044bb, #003c9d,
  #003377, #ccccff, #9999ff, #5555ff, #0000ff, #0000cc, #0000aa, #000088, #ccbbff,
  #9f88ff, #7744ff, #5500ff, #4400cc, #2200aa, #220088, #d1bbff, #b088ff, #9955ff,
  #7700ff, #5500dd, #4400b3, #3a0088, #e8ccff, #d28eff, #b94fff, #9900ff, #7700bb,
  #66009d, #550088, #f0bbff, #e38eff, #e93eff, #cc00ff, #a500cc, #7a0099,
  #660077, #ffb3ff, #ff77ff, #ff3eff, #ff00ff, #cc00cc, #990099, #770077;

  $colors:#303133, #fff, #fff, #b8bcd8, #fff, #fff, #fff,
  #ffffff, #dddddd, #aaaaaa, #888888, #666666, #444444, #000000, #ffb7dd,
#ff88c2, #ff44aa, #ff0088, #c10066, #a20055, #8c0044, #ffcccc, #ff8888, #ff3333,
#ff0000, #cc0000, #aa0000, #880000, #ffc8b4, #ffa488, #ff7744, #ff5511, #e63f00,
#c63300, #a42d00, #ffddaa, #ffbb66, #ffaa33, #ff8800, #ee7700, #cc6600,
#bb5500, #ffee99, #ffdd55, #ffcc22, #ffbb00, #ddaa00, #aa7700, #886600, #ffffbb,
#ffff77, #ffff33, #ffff00, #eeee00, #bbbb00, #888800, #eeffbb, #ddff77, #ccff33,
#bbff00, #99dd00, #88aa00, #668800, #ccff99, #bbff66, #99ff33, #77ff00, #66dd00,
#55aa00, #227700, #99ff99, #66ff66, #33ff33, #00ff00, #00dd00, #00aa00,
#008800, #bbffee, #77ffcc, #33ffaa, #00ff99, #00dd77, #00aa55, #008844, #aaffee,
#77ffee, #33ffdd, #00ffcc, #00ddaa, #00aa88, #008866, #99ffff, #66ffff, #33ffff,
#00ffff, #00dddd, #00aaaa, #008888, #cceeff, #77ddff, #33ccff, #00bbff, #009fcc,
#0088a8, #007799, #ccddff, #99bbff, #5599ff, #0066ff, #0044bb, #003c9d,
#003377, #ccccff, #9999ff, #5555ff, #0000ff, #0000cc, #0000aa, #000088, #ccbbff,
#9f88ff, #7744ff, #5500ff, #4400cc, #2200aa, #220088, #d1bbff, #b088ff, #9955ff,
#7700ff, #5500dd, #4400b3, #3a0088, #e8ccff, #d28eff, #b94fff, #9900ff, #7700bb,
#66009d, #550088, #f0bbff, #e38eff, #e93eff, #cc00ff, #a500cc, #7a0099,
#660077, #ffb3ff, #ff77ff, #ff3eff, #ff00ff, #cc00cc, #990099, #770077; */