// main.ts
// 如果只想导入css变量
// import 'element-plus/theme-chalk/dark/css-vars.css'
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

// 其他自定义
// :root {
//   --ep-color-primary: red;
// }

@mixin dark {
  --base-tag-background: var(--vt-c-black);

  // 定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--el-menu-bg-color); //透明
  }

  /*定义滚动条轨道  内阴影+圆角*/
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(59, 59, 59, 0.7);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  /*定义滑块  内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(136, 134, 134, 0.7);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --base-tag-background: var(--vt-c-white);

  // 定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸
  ::-webkit-scrollbar {
    width: 5px;
    //height: 5px;
    background-color: #f5f5f5;
  }

  /*定义滚动条轨道  内阴影+圆角*/
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  /*定义滑块  内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

/* 按钮控制样式 */
:root.dark {
  @include dark();
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark();
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html,
body,
#app {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

ul {
  li {
    list-style: none;
    overflow: hidden; //超出的文本隐藏
    white-space: nowrap; //不换行
  }
}

fieldset {
  border: solid 1px #c4d2e6;
  padding: 10px;
  min-width: auto;
}

legend {
  color: #409eff;
  text-align: left;
  margin-left: 15px;
}

.el-overlay-message-box {
  z-index: 99999999999;
}

/*
          进入和离开动画可以使用不同
          持续时间和速度曲线。
  */
.slide-fade-enter-active {
  transition: all 0.1s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
